*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(7, 240, 182);
    font-family: 'Brush Script MT', cursive;
}

.container {
    background-color: rgb(7, 240, 182);
}

iframe {
    border: 8px solid green;
  }

.navbar {
    background-color: rgb(7, 240, 182) !important;
}

a {
    color: black;
}

a:hover{
    color: black;
}